.app {
  
}

.app-title {
  color: #1967D2;
  font-weight: bold;
  margin: 15px;
}

.app-title p {
  font-size: 4em;
  margin: 0;
}

#title-subtitle {
  font-size: 20px;
}

#title-subtitle > a  {
  color: #1967D2;
}

.app-workflow-container {
  display: flex;
  margin: 65px 40px 60px 40px;
  justify-content: space-between;
  align-items: center;
}

.workflow-stacked-arrows {
  display: 'flex';
  flex-direction: 'column';
}

.app-buttons-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 30%;
}

#start-button:hover {
  background-color: #9de88b;
}

#stop-button:hover {
  background-color: #db7a86;
}
